<?php
	require_once $_SERVER['DOCUMENT_ROOT'] . '/bwm-setting.php';
	define('B_TITLE', '');
	define('B_DESC', '');
	BLayout::getFrontHeader();
?>
	<p>index</p>
	<div>
		asdf asdxxx sf asdf
	</div>
<?php
	BLayout::getFrontFooter();
?>