@charset "UTF-8";
/* 주석 한글이 잘 되는지 */
.a {
  background: red;
  color: red; }

.b {
  background: green;
  color: red;
  font-weigt: bold; }

#header h1 {
  font-size: 26px;
  font-weight: bold; }

#header p {
  font-size: 12px; }
  #header p a {
    text-decoration: underline; }
    #header p a:hover {
      border-width: 1px; }
