<?php
	//header('Access-Control-Allow-Origin: *');
	//header('Content-Type: text/html; charset=EUC-KR');
?>


<div class="layer_popup">
	<div class="layer_popup_img_w">
		<img src="" alt="">
	</div>
	<div class="layer_popup_control">
		<label class="layer_popup_control_left">
			<input type="checkbox" class="layer_popup_control_chk">
			<span class="layer_popup_control_span">오늘 하루 이 창 열지 않음</span>
		</label>
		<div class="layer_popup_control_right">
			<button type="button" class="layer_popup_control_btn">닫기</button>
		</div>
	</div>
</div>