/* 주석 한글이 잘 되는지 */
.a {
  background: green;
}
.b {
  background: green;
}
#header h1 {
  font-size: 26px;
  font-weight: bold;
}
#header p {
  font-size: 12px;
}
#header p a {
  text-decoration: none;
}
#header p a:hover {
  border-width: 1px;
}
#header p a {
  text-decoration: none;
}
#header p a:hover {
  border-width: 1px;
}
#header p a {
  text-decoration: none;
}
#header p a:hover {
  border-width: 1px;
}
#header p a {
  text-decoration: none;
}
#header p a:hover {
  border-width: 1px;
}
/*# sourceMappingURL=less.css.map */