<script src="/test/menu/language/requirejs/js/require.js"></script>
<script src="/test/menu/language/requirejs/js/require_config.js"></script>
<script>
    require(["outer", "outer2"], function () {
        require(["common"], function () {
        });
    });
</script>