<?php
	define("LAYOUT", "");
	define("DOC_TITLE", "requirejs_jquery2");
?>
<?php require_once $_SERVER["DOCUMENT_ROOT"] . "/_test/inc/layout_top.php"; ?>

	<script src="/_test/js/require.js"></script>
	<script src="/_test/js/require_config.js"></script>
	<script>
		require(["common"], function () {
			$(window).on("load", function() {
				console.log("1 window.load " + $.fn.jquery);
			});
			$(document).ready(function() {
				console.log("1 document.ready " + $.fn.jquery);
			});
		});
	</script>

	<script src="/_test/js/jquery/jquery-1.8.3.min.js"></script>
	<script>
	</script>

	<script src="/_test/js/jquery/jquery-3.3.1.min.js"></script>
	<script>
		$(window).on("load", function() {
			console.log("2 window.load " + $.fn.jquery);
		});
		$(document).ready(function() {
			console.log("2 document.ready " + $.fn.jquery);
		});
	</script>
<?php require_once $_SERVER["DOCUMENT_ROOT"] . "/_test/inc/layout_btm.php" ?>