<?php
	require_once $_SERVER['DOCUMENT_ROOT'] . '/bwm-setting.php';
	define('B_TITLE', '타이틀');
	define('B_DESC', '');
	BLayout::getFrontHeader();
?>
	<p>index</p>
	<div>
		<img src="../../img/a.jpg" alt="">
		<img src=<?=BRes::getRes(B_FRONT_PATH . '/img/a.jpg')?> alt="">
		<img src=<?=BRes::getRes(B_FRONT_PATH . '/img/b.jpg')?> alt="">

	</div>
<?php
	BLayout::getFrontFooter();
?>