@font-face {
	font-family: 'Noto Light';
	font-style: normal;
	font-weight: 100;
	src: url('/comm-res/fontfont/noto/notokr-light.eot');
	src: url('/comm-res/fontfont/noto/notokr-light.eot?#iefix') format('embedded-opentype'),
		 url('/comm-res/fontfont/noto/notokr-light.woff2') format('woff2'),
		 url('/comm-res/fontfont/noto/notokr-light.woff') format('woff');
}
 
@font-face {
	font-family: 'Noto Regular';
	font-style: normal;
	font-weight: 300;
	src: url('/comm-res/fontfont/noto/notokr-regular.eot');
	src: url('/comm-res/fontfont/noto/notokr-regular.eot?#iefix') format('embedded-opentype'),
		 url('/comm-res/fontfont/noto/notokr-regular.woff2') format('woff2'),
		 url('/comm-res/fontfont/noto/notokr-regular.woff') format('woff');
}
 
@font-face {
	font-family: 'Noto Medium';
	font-style: normal;
	font-weight: 500;
	src: url('/comm-res/fontfont/noto/notokr-medium.eot');
	src: url('/comm-res/fontfont/noto/notokr-medium.eot?#iefix') format('embedded-opentype'),
		 url('/comm-res/fontfont/noto/notokr-medium.woff2') format('woff2'),
		 url('/comm-res/fontfont/noto/notokr-medium.woff') format('woff');
}
 
@font-face {
	font-family: 'Noto Bold';
	font-style: normal;
	font-weight: 700;
	src: url('/comm-res/fontfont/noto/notokr-bold.eot');
	src: url('/comm-res/fontfont/noto/notokr-bold.eot?#iefix') format('embedded-opentype'),
		 url('/comm-res/fontfont/noto/notokr-bold.woff2') format('woff2'),
		 url('/comm-res/fontfont/noto/notokr-bold.woff') format('woff');
}